.app {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 800px;
  background-color: white;
  height: 100%;
}

.app__messages {
  height: 350px;
  overflow: auto;
}

.app__form {
}

/* .app__description {
  border-bottom: 1px solid black;
  width: fit-content;
  margin: auto;
} */
